body{
    font-family: var(--typo) ;
    background-color: var(--color-bg-main);
}
h1{ font-size: 2rem;    }

/*======BACKGROUND-COLOR-SETTING=====*/
.bg-color-purple{
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-title);
}
.text-align-center{ text-align: center; }

/*======SEPARATION-LINE=======*/
body main#main-grid section#streamer-drops hr{  color: var(--color-title);  }

/*=======RESPONSIVE=====*/
@media screen and (min-width: 750px){
    body main#main-grid section#streamer-drops hr{  grid-column: 1 /span 12;    }
}
