/*==========HEADER=====*/
body header#main-header{
    background-image: url(../photos/bg-header.jpg);
    background-position: left 24% top -0.2%;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px;
}
/*========HEADER-IMG==========*/
body header#main-header .main-header-img{
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
}
body header#main-header .main-header-img img#logo-rust{
    display: block;
    width: 200px;
    position: static;  
    margin: 20px auto;  
}
body header#main-header .main-header-img img#drops-on-twitch{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
/*=========HEADER-TXT========*/
body header#main-header p#main-header-text{
    color: var(--color-txt-header);
    font-size: 16px;
}
/*=======ANCRE========*/
body header#main-header div.ancre{
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--color-txt-header);
    border-radius: 50%;
}
body header#main-header div.ancre i{
    display: block;
    color: var(--color-title);
}
/*=======RESPONSIVE=====*/
@media screen and (min-width: 750px){
    body header#main-header{    padding: 0px;    }
}
