:root{
    --typo: "Roboto condensed", sans-serif;
    --color-txt-header: #959183;
    --color-title: #8f3eff;
    --color-txt: #d2c9ec;
    --color-txt-streamer:#eae8e5;
    --color-bg-main: #151216;
    --color-bg-main-2: #151221;
    --color-bg-footer:#0f100f;
}