/*====STREAMER-DROPS====*/
body main#main-grid section#streamer-drops{
    position: relative;
    top: -300px;
}
body main#main-grid section#streamer-drops h1, body main#main-grid section#streamer-drops{  padding: 20px;  }

body main#main-grid section#streamer-drops h1, body main#main-grid section#streamer-drops header#header-streamer-drops p{   color: var(--color-title);  }

/*==STREAMER-DROPS-CARD==*/
main#main-grid section#streamer-drops article.streamer-card{
    min-width: 200px;
    padding: 20px;
}
/*==STREAMER-DROPS-CARD-HEADER==*/
main#main-grid section#streamer-drops article.streamer-card header.streamer-card-header{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
main#main-grid section#streamer-drops article.streamer-card header.streamer-card-header  div.streamer-card-header-text{
    display: inline-flex;
    justify-content:space-between;
}
main#main-grid section#streamer-drops article.streamer-card header.streamer-card-header img{
    width: 40px;
    border-radius: 50% ;
}
main#main-grid section#streamer-drops article.streamer-card h2.streamer-name{
    color: var(--color-txt-streamer);
    font-size: 1.7rem;
}
main#main-grid section#streamer-drops article.streamer-card h2.streamer-name, main#main-grid section#streamer-drops article.streamer-card p.streamer-statut{
    display: inline;
    margin: 0px;
}
main#main-grid section#streamer-drops article.streamer-card header.streamer-card-header p.streamer-statut{
    background-color: rgba(128, 128, 128, 0.308);
    color: grey;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 0.7em;
    padding: 5px;
    font-weight: 1000;
}    
main#main-grid section#streamer-drops article.streamer-card div.streamer-card-body img.streamer-item-picture{   width: 100%;    }

main#main-grid section#streamer-drops article.streamer-card div.streamer-card-body img.streamer-item-picture:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in;
    box-shadow: 2px 2px 30px var(--color-title);
    animation-iteration-count: infinite;
}
/*==STREAMER-DROPS-CARD-BODY==*/
main#main-grid section#streamer-drops article.streamer-card div.streamer-card-body div.streamer-card-body-text{ color: var(--color-txt);    }

main#main-grid section#streamer-drops article.streamer-card div.streamer-card-body div.streamer-card-body-text h2.streamer-item-name{   font-size: 28px;    }

main#main-grid section#streamer-drops article.streamer-card div.streamer-card-body div.streamer-card-body-text p.streamer-item-hours{   color: var(--color-txt-header); }

/*=======RESPONSIVE=====*/
@media screen and (min-width: 750px){
    body main#main-grid section#streamer-drops{
        display: grid;
        max-width: 1200px;
        margin: auto;
    }
    body main#main-grid section#streamer-drops header#header-streamer-drops{    grid-column: span 12;   }

    main#main-grid section#streamer-drops article.streamer-card{    grid-column: span 4;    }

    main#main-grid section#streamer-drops article.center{
        grid-column: 5 /span 4;
    }
}
